.main
    background: url('../img/header/main-bg.jpg') no-repeat
    background-size: 100% 100%
    min-height: 793px
    color: $text-color-grey
    .header
        padding-top: 23px
        padding-bottom: 23px
        .navigation
            &-item
                list-style: none
            &-link
                text-decoration: none
                color: $text-color-grey
    &-title
        font-size: 58px
        line-height: 80px
        letter-spacing: 0.2px
        color: #252B42
    &-text
        font-weight: 500
        font-size: 20px
        line-height: 30px
        letter-spacing: 0.2px
    &-button
        margin-top: 35px
    &-block
        margin-top: 80px
    &-card
        position: relative
        bottom: -20%
        padding-top: 35px
        padding-bottom: 35px
        padding-right: 66px
        padding-left: 40px
        cursor: pointer
        background: $text-color-white
        &:hover
            color: $text-color-white
            background: $text-color-blue
            transform: scale(1.1)
        &__image
            &-1
                background: url('../img/header/card-1.svg') center no-repeat
                width: 48px
                height: 48px
                border: none
            &-2
                background: url('../img/header/card-2.svg') center no-repeat
                width: 48px
                height: 48px
                border: none
            &-3
                background: url('../img/header/card-1.svg') center no-repeat
                width: 48px
                height: 48px
                border: none
        &:hover &__image-1
            background: url('../img/header/card-3-white.svg') center no-repeat
            width: 48px
            height: 48px
        &:hover &__image-2
            background: url('../img/header/card-3-white.svg') center no-repeat
            width: 48px
            height: 48px
        &:hover &__image-3
            background: url('../img/header/card-3-white.svg') center no-repeat
            width: 48px
            height: 48px
        &__title
            display: block
            margin-top: 10px
            margin-bottom: 10px
            font-weight: bold
            font-size: 24px
            line-height: 32px
            letter-spacing: 0.1px
            color: #252B42
        &:hover &__title
            color: #fff 
    .menu
        &-link
            display: none
            z-index: 9
            display: block
            width: 50px
            height: 50px 
            background-color: #ffffff
            border-radius: 50%
            box-shadow: 1px 1px 10px rgba(0,0,0,.4)
            position: fixed
            top: 20px
            left: 80%
            span,span:before, span:after
                display: block
                height: 2px
                width: 18px
                position: absolute
                left: 50%
                margin-left: -9px
                top: 50%
                margin-top: -1px
                background: #333333
            span:before
                transition: all 0.2s
                content: ''
                margin-top: -6px
            span:after
                transition: all 0.2s
                content: ''
                margin-top: 4px
            &__active span
                background-color: transparent
                &::before
                    transform: rotate(135deg)
                    margin-top: 0
                &::after
                    transform: rotate(-135deg)
                    margin-top: 0
        opacity: 1
        background: $text-color-white
        position: fixed
        width: 100vw
        height: 100vh
        z-index: 2
        display: flex
        justify-content: center
        align-items: center
        transition: all 0.2s
        left: -100vw
        &__active
            left: 0
        ul
            list-style: none
            padding: 0
            text-align: center
            li
                width: 100vw
            a
                display: block
                width: 100%
                line-height: 4
                font-weight: 100
                later-spacing: 4px
                color: $text-color-grey
                transition: all 0.2s
                text-decoration: none
                &:hover
                    background-color: rgba($text-color-grey, 0.5)
                    text-decoration: none
            &:focus
                outline: none

